<footer class="main-footer">
        
    <div class="container">
        <h2 class="title-footer">Contactanos a través de ...</h2>
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img class="icono" src="https://cdn-icons-png.flaticon.com/512/888/888853.png" alt="">
                        <ul>
                            <li>lcupito@udesa.edu.ar</li>
                            <li>yreinhardt@udesa.edu.ar</li>
                            <li>jlombardidibetto@udesa.edu.ar</li>
                        </ul>
                     
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img class="icono" src="https://es.seaicons.com/wp-content/uploads/2016/03/Linkedin-icon-15.png" alt="">
                    <ul>
                        <li>Lucia Cupito</li>
                        <li>Yasmin Reinhardt</li>
                        <li>Jazmin Lombardi Dibetto</li>
                    </ul>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img class="icono" src="https://www.comprarvisitas.online/img/cms/instagram.png" alt="">
                    <ul>
                        <li>@lulacupito</li>
                        <li>@yasminreinhardt</li>
                        <li>@jazminlombardi</li>
                    </ul>
                </article>
            </div>
            
        </div>
    </div>
</footer>
</body>
</html>