
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<form action="/users/profile" method="get">
				<input type="email" name="usuario" placeholder="usuario">
				<input type="password" name="contrasena" placeholder="password">
				<input type="checkbox" name="recordame" placeholder="recuerdame"> Recordarme en esta pagina	
				<input type="submit" value="Ingresar">
			</form>
			</h2>

				<!-- <form action="/users/login" method="post">
			<div>
					<input name="email" type="text" placeholder="Escriba tu email">
				</div>
				<div>
					<input name="password" type="text" placeholder="Digita tu contraseña">
				</div>
				<div>
					<input name="rememberMe" type="checkbox" /> Quieres mantener conectado?
				</div>
				<button>
					Ingresar
				</button>
			</form> -->
            <p>
                Aun no tienes cuenta?
                <a href="/users/register"> Crear cuenta</a>
            </p>

<%- include('./partials/footer') %>

</body>

</html>