
<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<form action="profile.ejs" method="get">
				<input type="email" name="usuario" placeholder="usuario">
				<input type="password" name="contrasena" placeholder="password">	
			</form>
			</h2>
            <p>
                Aun no tienes cuenta?
                <a href="/users/register"> Crear cuenta</a>
            </p>

<%- include('./partials/footer') %>

</body>

</html>