<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/header.ejs') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="GET" action="/productos/productosAdd">
					<label for="">Foto</label>
					<input type="file" name="foto de perfil">
				</form>
			</h2>
			<h2 class="col-12">
				<form action="GET" action="/productos/productosAdd">
					<label for="">Nombre del producto </label>
					<input type="text" name="producto">
				</form>
			</h2>
			<h2 class="col-12">
				<form action="GET" action="/productos/productosAdd">
					<label for=""> Descrpicion del producto </label>
					<input type="text" name="descrpicion">
				</form>
			</h2>
			<h2 class="col-12">
				<form action="GET" action="/productos/productosAdd">
					<label for="">Fecha de Carga </label>
					<input type="date" name="fecha de carga">
				</form>
			</h2>
			<h2 class="col-12">
				<form action="/users/profile" >
						<input type="submit" value="AÑADIR"></input>
						<input type="reset" value="BORRAR"></input>
				</form>
			</h2>
		</div>

    </div>
	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>