<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/header.ejs') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/users/profile"  method="GET">
					<div><label for="">Foto</label>
						<input type="file" name="foto de perfil"> </div>
					<div><label for="">Nombre del producto </label>
						<input type="text" name="producto"> </div>

					<div><label for="">Fecha de Carga </label>
						<input type="date" name="fecha de carga"></div>
					<div><label for=""> Descrpicion del producto </label>
						<input type="text" name="descrpicion"></div>
					</form>
					<form action="/users/profile"  method="GET">
					<input type="submit" value="AÑADIR PRODUCTO"></input>
					</form>
			</h2>

		</div>

    </div>
	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>