
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 			
				<form action="/users/profile" method="get">
					<input type="email" name="email" placeholder="Escriba un mail">
					<input type="text" name="usaurio" placeholder="Escriba su nombre de usaurio">
					<input type="password" name="contrasena" placeholder="Escriba su contrasena">
					<input type="date" name="nacimiento" placeholder="Fecha nacimiento">
					<input type="number" name="dni" placeholder="DNI">
					<input type="text" name="foto" placeholder="Foto de perfil">
					<input type="submit" value="Registrame">

			</form>
			</h2>
			<!-- METODO POST -->
			<h2 class="col-12"> 			
				<form action="/users/register" method="POST">
					<input name="usuario" type="text" placeholder="Digita tu nombre">
					<input name="email" type="text" placeholder="Digita tu email">
					<input type="date" name="birthdate" placeholder="Fecha nacimiento">
					<input type="number" name="dni" placeholder="DNI">
					<input type="text" name="photo" placeholder="Foto de perfil">
					<input name="password" type="text" placeholder="Digita tu contraseña">
					<input type="submit" value="Registrame">
				</form>
			</h2>	
            <p>
                Ya tienes cuenta? 
                <a href="/users/login"> Inicia sesion</a>
            </p>

 <%- include('./partials/footer.ejs') %>
