
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<h2 class="col-12"> 			
				<form action="/users/register" method="POST">
					<input type="text" name="usuario"  placeholder="Digita tu nombre">

					<input type="email" name="email"  placeholder="Digita tu email">

					<input type="date" name="birthdate" placeholder="Fecha nacimiento">

					<input type="text" name="password"  placeholder="Digita tu contraseña">

					<input type="number" name="dni" placeholder="DNI">

					<input type="text" name="photo_url" placeholder="Foto de perfil">
					
					<input type="submit" value="Registrame">
				</form>
			</h2>	
			<% if (locals.errors){%>
				<h2><%= errors.message%></h2>
			<% }%>

            <p>
                Ya tienes cuenta? 
                <a href="/users/login"> Inicia sesion</a>
            </p>

 <%- include('./partials/footer.ejs') %>
