
<%- include ('./partials/head') %>
<%- include('./partials/header') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 			
				<form action="profile.ejs" method="get">
					<input type="email" name="email" placeholder="email">
					<input type="texto" name="usaurio" placeholder="usaurio">
					<input type="password" name="contrasena" placeholder="password">
					<input type="date" name="nacimiento" placeholder="fecha nacimiento">
					<input type="date" name="nacimiento" placeholder="fecha nacimiento">
					<input type="texto" name="foto" placeholder="foto perfil">

			</form>
			</h2>
            <p>
                Ya tienes cuenta? 
                <a href="/users/login"> Inicia sesion</a>
            </p>

 <%- include ('./partials/footer') %>
